## Data Analytics with Python and Visualization CA

Duration of Test: *2 hours*

`Read me! Where neccessary double click on the cell to enter required information`

*Student Name:*

*Student Number:*

Instructions:| Provide answers to all questions on this Notebook.
The Dataset: covid_africa.csv include Covid-19 pandemic outbreak that originated in Wuhan, China in 2019.|
    Covid-19 is a disease caused by the SARS-COV-2 coronavirus which preads between people in close contact. `Source:World Health Organization`. This analysis seeks to investicate the impact of covid-19 in Africa.

 Every data analysis process involves:
1. The process of defining objectives about the analysis process
2. Constructing analysis questions
3. Data collection
4. Data cleaning and data analysis
5. Interpretation of results
6. Data visualization
7. Data storytelling.

The Dataset below requires you to perform activities (4 and 5).

*Section A: ~Analysis Defining Objectives*

Question 1: As a junior data analyst, name four tools you will need inorder to perform an analysis process for company XYZ

1.
2.
3.
4.

Question 2: Specify or construct 4 analysis objectives you may consider from the dataset provided

1.
2. 
3.
4.

*Section B: Data Cleaning and Analysis and Interpretation of results*

In [1]:
#1 Import Libraries

import numpy as np
import pandas as pd

In [2]:
#2 Load data set (use `covid_africa_df` as name of dataframe)
covid_africa_df = pd.read_csv('covid_africa.csv')

In [3]:
#3 Display the first 5 rows

covid_africa_df.head(5)

,Country_Other,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Tot Cases_1M_pop,Deaths_1M_pop,Total_Tests,Tests_1M_pop,Population
0,Algeria,271852,6881,183061.0,81910.0,5995,152,230960.0,5093.0,45350148
1,Angola,105384,1934,103419.0,31.0,3009,55,1499795.0,42818.0,35027343
2,Benin,28014,163,27847.0,4.0,2191,13,604310.0,47268.0,12784726
3,Botswana,330256,2801,327049.0,406.0,135286,1147,2026898.0,830300.0,2441162
4,Burkina Faso,22056,396,21596.0,64.0,998,18,248995.0,11265.0,22102838

In [4]:
#4 Display the last 5 rows

covid_africa_df.tail(5)

,Country_Other,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Tot Cases_1M_pop,Deaths_1M_pop,Total_Tests,Tests_1M_pop,Population
49,Togo,39513,290,39216.0,7.0,4552,33,812881.0,93641.0,8680837
50,Tunisia,1153361,29423,NaN,NaN,95741,2442,5013383.0,416164.0,12046656
51,Uganda,171829,3632,100431.0,67766.0,3548,75,3012408.0,62198.0,48432863
52,Zambia,349287,4069,341316.0,3902.0,17940,209,4112961.0,211244.0,19470234
53,Zimbabwe,265742,5718,258888.0,1136.0,17333,373,2525756.0,164744.0,15331428

In [5]:
#5 Provide information on Column names and data types in the dataset

covid_africa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country_Other     54 non-null     object
 1   Total_Cases       54 non-null     int64
 2   Total_Deaths      54 non-null     int64
 3   Total_Recovered   51 non-null     float64
 4   Active_Cases      51 non-null     float64
 5   Tot Cases_1M_pop  54 non-null     int64
 6   Deaths_1M_pop     54 non-null     int64
 7   Total_Tests       51 non-null     float64
 8   Tests_1M_pop      51 non-null     float64
 9   Population        54 non-null     int64
dtypes: float64(4), int64(5), object(1)
memory usage: 4.3+ KB

In [3]:
#6 How many rows and columns are in the data set

print(f'{covid_africa_df.shape[0]} rows')
print(f'{covid_africa_df.shape[1]} columns')

54 rows
10 columns

In [14]:
#7 Check for any missing values

covid_africa_df.isnull().any()

Country_Other       False
Total_Cases         False
Total_Deaths        False
Total_Recovered      True
Active_Cases         True
Tot Cases_1M_pop    False
Deaths_1M_pop       False
Total_Tests          True
Tests_1M_pop         True
Population          False
dtype: bool

#### --- COVID-19 Case Trends ---

In [4]:
#8 Total confirmed cases

total_cases = covid_africa_df['Total_Cases'].sum()
print(f'{total_cases} total confirmed cases')

12307083 total confirmed cases

In [ ]:
#9 Country Name with highest and lowest confirmed cases

In [27]:
# highest_cases

# highest_cases = covid_africa_df['Total_Cases'].max()
country = covid_africa_df.loc[covid_africa_df['Total_Cases'].idxmax()]
# print(highest_cases)
print(country)

Country_Other       South Africa
Total_Cases              4076463
Total_Deaths              102595
Total_Recovered        3912506.0
Active_Cases             61362.0
Tot Cases_1M_pop           67095
Deaths_1M_pop               1689
Total_Tests           26795090.0
Tests_1M_pop            441027.0
Population              60756135
Name: 45, dtype: object

In [3]:
# lowest_cases

# lowest_cases = covid_africa_df['Total_Cases'].min()
country = covid_africa_df.loc[covid_africa_df['Total_Cases'].idxmin()]
# print(lowest_cases)
print(country)

Country_Other       Sao Tome and Principe
Total_Cases                          6597
Total_Deaths                           80
Total_Recovered                    6517.0
Active_Cases                          0.0
Tot Cases_1M_pop                    28975
Deaths_1M_pop                         351
Total_Tests                       29036.0
Tests_1M_pop                     127530.0
Population                         227679
Name: 40, dtype: object

In [5]:
#10 Number of Active cases by country(use the groupby())

active_cases = covid_africa_df.groupby(['Country_Other'])['Active_Cases'].sum()
active_cases

Country_Other
Algeria                  81910.0
Angola                      31.0
Benin                        4.0
Botswana                   406.0
Burkina Faso                64.0
Burundi                    634.0
CAR                         55.0
Cabo Verde                  68.0
Cameroon                   309.0
Chad                      2633.0
Comoros                      9.0
Congo                      983.0
DRC                      11740.0
Djibouti                    74.0
Egypt                    49228.0
Equatorial Guinea          139.0
Eritrea                      0.0
Eswatini                   339.0
Ethiopia                  5287.0
Gabon                       11.0
Gambia                      65.0
Ghana                       23.0
Guinea                     338.0
Guinea-Bissau              508.0
Ivory Coast                  6.0
Kenya                      957.0
Lesotho                   8087.0
Liberia                     12.0
Libya                        0.0
Madagascar                  43.0
Malawi                     571.0
Mali                        77.0
Mauritania                 247.0
Mauritius                  681.0
Morocco                   3728.0
Mozambique                2369.0
Namibia                    801.0
Niger                      729.0
Nigeria                   3567.0
Rwanda                      79.0
Sao Tome and Principe        0.0
Senegal                     19.0
Seychelles                  15.0
Sierra Leone                 0.0
Somalia                  12791.0
South Africa             61362.0
South Sudan                115.0
Sudan                        0.0
Tanzania                     0.0
Togo                         7.0
Tunisia                      0.0
Uganda                   67766.0
Zambia                    3902.0
Zimbabwe                  1136.0
Name: Active_Cases, dtype: float64

In [7]:

#11 Most Active cases by country

most_active_cases = covid_africa_df['Active_Cases'].nlargest()
most_active_cases

Country_Other
Algeria         81910.0
Uganda          67766.0
South Africa    61362.0
Egypt           49228.0
Somalia         12791.0
Name: Active_Cases, dtype: float64

#### --- Mortality and Recovery Analysis ---

In [23]:
#12 Number of Total deaths
total_deaths = covid_africa_df['Total_Deaths'].sum()
print(total_deaths)

257720

In [12]:
#13 Country with highest death toll(hint: use the groupby() also use the idxmax())

country_highest_death = covid_africa_df.loc[covid_africa_df['Total_Deaths'].idxmax()]
print(country_highest_death)

Country_Other       South Africa
Total_Cases              4076463
Total_Deaths              102595
Total_Recovered        3912506.0
Active_Cases             61362.0
Tot Cases_1M_pop           67095
Deaths_1M_pop               1689
Total_Tests           26795090.0
Tests_1M_pop            441027.0
Population              60756135
Name: 45, dtype: object

In [14]:
#14 Recovery rate by country

recovery_rate = covid_africa_df.groupby(['Country_Other'])['Total_Recovered'].sum()
recovery_rate

Country_Other
Algeria                   183061.0
Angola                    103419.0
Benin                      27847.0
Botswana                  327049.0
Burkina Faso               21596.0
Burundi                    53569.0
CAR                        15200.0
Cabo Verde                 63755.0
Cameroon                  122807.0
Chad                        4874.0
Comoros                     8939.0
Congo                      24006.0
DRC                        84489.0
Djibouti                   15427.0
Egypt                     442182.0
Equatorial Guinea          16907.0
Eritrea                    10086.0
Eswatini                   73116.0
Ethiopia                  488171.0
Gabon                      48674.0
Gambia                     12189.0
Ghana                     170255.0
Guinea                     37757.0
Guinea-Bissau               8929.0
Ivory Coast                87497.0
Kenya                     337309.0
Lesotho                    25980.0
Liberia                     7783.0
Libya                     500833.0
Madagascar                 66862.0
Malawi                     85651.0
Mali                       32332.0
Mauritania                 62471.0
Mauritius                  41173.0
Morocco                  1256151.0
Mozambique                228805.0
Namibia                   167099.0
Niger                       8890.0
Nigeria                   259953.0
Rwanda                    131647.0
Sao Tome and Principe       6517.0
Senegal                    87024.0
Seychelles                 50750.0
Sierra Leone                   0.0
Somalia                    13182.0
South Africa             3912506.0
South Sudan                18115.0
Sudan                      58947.0
Tanzania                       0.0
Togo                       39216.0
Tunisia                        0.0
Uganda                    100431.0
Zambia                    341316.0
Zimbabwe                  258888.0
Name: Total_Recovered, dtype: float64

#### --- Testing and Healthcare Capacity ---

In [16]:
covid_africa_df.head(3)

,Country_Other,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Tot Cases_1M_pop,Deaths_1M_pop,Total_Tests,Tests_1M_pop,Population
0,Algeria,271852,6881,183061.0,81910.0,5995,152,230960.0,5093.0,45350148
1,Angola,105384,1934,103419.0,31.0,3009,55,1499795.0,42818.0,35027343
2,Benin,28014,163,27847.0,4.0,2191,13,604310.0,47268.0,12784726

In [18]:
#15 Total Number of tests conducted
total_tests = covid_africa_df['Total_Tests'].sum()
print(total_tests)

109245539.0

In [ ]:
#16 Correlation between tests and cases(use the corr())
corr_cases = covid_africa_df.corr()
correlation = corr_cases.loc['Total_Tests', 'Total_Cases']
print(correlation)

0.9527087469686984

In [20]:
#17 Names of 10 Countries with highest test positivity rate
covid_africa_df['Positivity_Rate'] = (covid_africa_df['Total_Cases']/covid_africa_df['Total_Tests'])*100
highest_positivity = covid_africa_df['Positivity_Rate'].nlargest(10)
highest_positivity

Country_Other
Algeria                  117.705230
Eritrea                   43.004263
Tunisia                   23.005643
Sao Tome and Principe     22.720072
Libya                     20.422747
CAR                       18.904224
Mozambique                17.023733
Botswana                  16.293666
Namibia                   16.185564
Cabo Verde                15.994642
Name: Positivity_Rate, dtype: float64

#### --- Population Impact and Comparisons ---

In [21]:
covid_africa_df.columns
covid_africa_df.head(3)

,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Tot Cases_1M_pop,Deaths_1M_pop,Total_Tests,Tests_1M_pop,Population,Positivity_Rate
Country_Other,,,,,,,,,,
Algeria,271852,6881,183061.0,81910.0,5995,152,230960.0,5093.0,45350148,117.70523
Angola,105384,1934,103419.0,31.0,3009,55,1499795.0,42818.0,35027343,7.02656
Benin,28014,163,27847.0,4.0,2191,13,604310.0,47268.0,12784726,4.63570

In [4]:
#18 Whats the Infection rate per 1,000,000 people

# covid_africa_df['Infection_rate_per_1M'] = (covid_africa_df['Total_Cases']/covid_africa_df['Population'])*1000000

covid_africa_df['Tot Cases_1M_pop']

0       5995
1       3009
2       2191
3     135286
4        998
5       4296
6       3063
7     113159
8       4482
9        442
10     10038
11      4377
12      1026
13     15441
14      4861
15     11512
16      2782
17     63201
18      4147
19     21013
20      4935
21      5301
22      2781
23      4659
24      3184
25      6119
26     15990
27      1525
28     72048
29      2342
30      4406
31      1544
32     12998
33     33658
34     33786
35      7054
36     65302
37       381
38      1230
39      9793
40     28975
41      5042
42    512311
43       934
44      1623
45     67095
46      1581
47      1391
48       681
49      4552
50     95741
51      3548
52     17940
53     17333
Name: Tot Cases_1M_pop, dtype: int64

In [7]:
#19 Whats the highest Infection rate country per 1,000,000 people
highest_infection_rate_country = covid_africa_df.loc[covid_africa_df['Tot Cases_1M_pop'].idxmax()]
highest_infection_rate_country

Country_Other               Seychelles
Total_Cases                      50937
Total_Deaths                       172
Total_Recovered                50750.0
Active_Cases                      15.0
Tot Cases_1M_pop                512311
Deaths_1M_pop                     1730
Total_Tests                        NaN
Tests_1M_pop                       NaN
Population                       99426
Infection_rate_per_1M    512310.663207
Name: 42, dtype: object

In [10]:
#20 Countries with highest infection rate
covid_africa_df['Tot Cases_1M_pop'].nlargest()

42    512311
3     135286
7     113159
50     95741
28     72048
Name: Tot Cases_1M_pop, dtype: int64

End of questions